<div class="LoginFormContainer">
    <div class="LoginForm">
        <img src="<%= asset_path 'Logo transparent.png' %>" width="200" height="200" alt="EGC Logo"/>
        <form>
            <div class="formInputs">
                <input type="text"/>
                <input type="password"/>
            </div>

            <div class="formButton">
                <button class="btn btn-primary" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>